﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4" id="changeText">Welcome</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="steganography" asp-action="encode">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" />
                </br>
                <input type="text" name="plaintext" />
                <input type="password" name="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Hide" />
            </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data" asp-controller="steganography" asp-action="decode">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Extract" />
                <input type="password" name="password" />
            </div>
        </div>
    </form>

</div>
